body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* Mặc định ẩn đi */
}

.overlay.active {
    display: flex; /* Hiển thị overlay khi có class active */
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    padding: 10px;
}

.timers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.timers .timer, .message {
    flex: 1;
    text-align: center;
}

.board-container {
    margin-top: 80px; /* Điều chỉnh khoảng cách cho phù hợp với header */
}

.board {
    display: grid;
    grid-template-columns: repeat(200, 35px);
    grid-template-rows: repeat(200, 35px);
    gap: 1px;
    margin: 0 auto;
    max-width: max-content;
}

.cell {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    cursor: pointer;
    border: 1px solid #000;
}

.highlight {
    background-color: red !important; /* Màu đỏ cho ô chiến thắng */
}

.played {
    background-color: rgb(60, 131, 212); /* Màu xanh cho ô đã được nhấn */
}

.modal button {
    margin-top: 10px;
}

/* Media Queries cho điện thoại di động */
@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20, 1fr);
        gap: 2px;
    }

    .cell {
        width: 20px;
        height: 20px;
        font-size: 0.5em;
    }

    .header {
        padding: 5px;
    }

    .modal {
        width: 90%;
        padding: 10px;
    }

    .modal button {
        font-size: 1em;
    }

    .timers {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .timers .timer, .message {
        flex: unset;
        text-align: center;
        margin-bottom: 5px;
    }
}
